body {
  background-color: #e8e5de; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  background-color: #621f18; 
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #1A4734; 
}

header h1 {
  margin: 0;
  font-size: 2.2em;
  color: #418B24; 
}

nav a {
  margin: 0 15px;
  color: #418B24;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

nav a:hover {
  color: #1A4734; 
  transition: 0.3s;
}

h2 {
  color: #1A4734; 
  margin-top: 30px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

footer {
  background-color: #621f18; 
  color: #080808;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-weight: bold;
}
